@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Moyhaka's corner!</h1>
    <h5>Where products and prices varies a lot!</h5>
    <p>This application is for management of products in a grocery store</p>
</div>
